// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

$app_background:url('../images/bg.jpg');
$app_theme_color : rebeccapurple;
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */

html{
    min-height:100%;
}

body{
  min-height:100%; 
  background: $app_background;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding: 1rem;
  border-bottom: .05rem solid #e5e5e5;
  background:white;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding: 3rem;
  color: #777;
  
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 100%;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.argumentation{
  min-height:100px;
  background:white;
  margin-bottom:10rem;
  margin-top:10rem;
  padding:4rem;
}

#top-container{
 padding: 0px;
}

#navLogo{
  font-size:20px;
  padding:0px 4px 0px 4px;
  border-radius:4px;
}

#pitch{

}

#footer{
  margin-top:200px;
  width:100%;
  background:white;
}

.btn-purple{
  background:rebeccapurple;
  border:none;
  color:white;
  &:hover{
    cursor:pointer;
  }
}

nav{
  background:white;
}


#MainMenu{
  background:$app_theme_color;
  width:100%;
  padding: 3px 0px 0px 0px;
  display:none;
  span{
    background:white;
    color:black;
    padding:20px;
    margin-left:10px;

    &:hover{
      cursor:pointer;
      background:#eee;
    }
  }
}

.activitylist{
  min-height:20px;
  width:100%;
  // border:solid 0.3px $app_theme_color;
  background:$app_theme_color;
}


appointment{
  background:white;
  padding:10px;
  display:block;
  width:100%;
  margin-bottom:12px;

  &:hover{
    cursor:pointer;
  }

  div[name='title']{
    font-size:30px;
    padding:3px;
    border-bottom:solid 1px gray;
    &:hover{
      border-bottom:solid 1px $app_theme_color;
    }
  }

  div[name='description']{
    font-size:14px;
  }
}



appointmentbig, appointment{
  .btn{
    margin:4px;
  }

  div[name='description']{
    margin-top: 10px;
    margin-bottom: 10px;
    background:#fafafa;
    padding:10px;
  }

  .participantList{
    margin-top:4px;
    margin-bottom:4px;
    img{
      border-radius:30px;
      margin-left:4px;
    }
    .imageSpotOpen{
      border: solid 1px $app_theme_color;
    }

    .imageSpotTaken{
      border: solid 1px green;
    }
  }
}



#ActivityYourActivities{
  max-width:600px;
  margin:auto;
  padding:20px;
}

#ActivityShowProfile{
  max-width:650px;
  margin:auto;
  padding:40px;
}


#CurrentActivityPanel{
  text-align:center;
  margin:auto;
  background:white;
  margin-top:30px;

  activity{
    text-align:left;
    display:none; 
    width:100%;
    background:white;
    min-height:400px;

    // Title of Activity
    h4{
      border-bottom:solid 1px gray;
    }

  }
}

#ActivityBrowseActivities{



   #SearchForm{
    width:100%;
    margin-bottom:3px;
    padding:20px;
    input{
      width:100%;
      padding:10px;
      border:none;
    }
  }

  #searchresults{
    background:#fafafa;
    padding:0px;
    width:44%;
    display:inline-block;
    vertical-align:top;
  }

  /*
  *  MAP
  *
  * * * * * * * */
  #mainMap{
    display:inline-block;
    width:55%;
    min-height:400px;
    max-height:500px;
  }
}



/*
*
* Logged in UI
* * * * * * * * */

#UserNavPanel{

  margin-left:10px;

  .email{
    font-size:12px;
  }

  .displayName{

  }

  .profilePhoto{
    width:32px;
    height:32px;
    border-radius:16px;
    border:solid purple 1px;
  }
}


// MAPS

#getLatLngMap{
  display:none;
  width:100%;
  height:100%;
  position:fixed !important;
  left:0px;
  top:0px;
  z-index: 99999;

}





/* MODALS
* * * * * * * * * * * * * * * */

#CreateUserModal{
  background:$app_background;

  .modal-content{
    border:none;
    background:none;
  }

  .modal-header{
    border:none;
  }

  input{
    width:100%;
    padding:10px;
  }
}

#DisplayAppointmentModal{
  background:$app_background;
  .modal-content{
    border:none;
    background:"white";
    max-width:550px;
  }

  .modal-header{
    border:none;
  }
}

#CreateAppointmentModal{
  //background:$app_background;
  background:white;

  .modal-content{
    border:none;
    background:none;
  }

  .modal-header{
    border:none;
  }

  input{
    width:100%;
    padding:10px;
    border:none;
    border-bottom:1px black solid;
  }
}


#EditAppointmentModal{
  background:$app_background;
}

#EditAppointmentForm{
  .btn{
    margin:4px;
  }

  input{
    width:100%;
    padding:10px;
    border:none;
    border-bottom:1px black solid;
  }
}




/*
* Styling messages that appear in appointments.
*/

.messageBoard{
  background:white;
  padding:20px;
}


.messageList{;
}

appointmentmessage{

  display:block;
  padding:10px;
  margin-bottom:10px;

  .messageSender{
    font-size:20px;
  }

  .messageTime{
    font-size:14px;
    font-style:italic;
    color:111;
  }

  .messageContent{
    font-size:16px;
    color:#222;
    background:#eee;
    padding:3px;
  }
}


.messageInputForm{
  textarea{
    border:none;
    display:block;
    width:100%;
    min-height:180px;
  }
}



/*

  iOS hacks
*/

.btn{
  cursor:pointer;
}

/*
*  Media-queries.
* * * * * * * * */


@media (max-width: 700px) {

  #navLogo{
    display:block;
    width:100%;
    border-radius:0px;
    text-align:right;
    margin-top:10px;
  }

  #MainMenu{
    span{
      display:block;
      padding:4px;
      margin:4px;
    }
  }

  #mapsearchInfo{
    display:none;
  }

  #mainMap{
    position:fixed !important;
    top:0px;
    left:0px;
    visibility:hidden;
    width:100%;
  }
  #searchresults{
    width:100% !important;
    vertical-align:top;
  }
}
